<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnessprojectandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:theme="@style/Theme.AppCompat.Light"
        android:usesCleartextTraffic="true"
        tools:ignore="MissingClass">

        <activity
            android:name=".descriptionActivity"
            android:parentActivityName=".ListExercise"
            android:label="Details"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccountActivity" />
        <activity
            android:name=".Fooddescription"

            android:label="Details"
            android:parentActivityName=".DietPage" />
        <activity android:name=".DietPage"
            android:label="Diet Plan"/>
        <activity android:name=".TimeReminder"
            android:label="Set timer"/>
        <activity android:name=".HomePage"
            android:label="HomePage"/>
<activity android:name=".findcoaches"
    android:label="Find Coach"/>
        <receiver android:name=".Alarmclass" />
        <activity android:name=".bmiNextPage" />
        <activity android:name=".Aboutus"
            android:label="About Us"/>
        <activity android:name=".bmi"
            android:label="Calculate BMI"/>
        <activity android:name=".Threebutton"
            android:label="Select Your Option"/>
        <activity android:name=".ListExercise"
            android:label="List of exercises"/>



    </application>

</manifest>